In [2]:
def words(word):
    list_1= word.split()
    if list_1[0][0]==list_1[-1][0]:
        return True
    else:
        return False

In [3]:
words(" Nathan James ")
words("Nathan Nanes")

True

In [1]:
def sum_1(*mult):
    return sum(*mult)

In [2]:
sum_1([10,20,30,40,50])

150

In [3]:
def fruit(**kwargs):
    print("my favourite food is: {}".format(kwargs["food"]))

In [4]:
fruit(food="cake",fruit="banana")

my favourite food is: cake

In [22]:
def combination(*args,**kwargs):
    a=sum(args)
    print("i like {} types of different {}".format(a,kwargs["drinks"]))

In [23]:
combination(1,2,3,4,5,food="cakes",fruits="apples",drinks="delmonte")

i like 15 types of different delmonte

In [31]:
#lambda expressions, functions that can be used once.

def squares(a):
    return a**2
    vals= [1,2,3,4,5,6,7,8]
map(squares,vals)

In [33]:
for x in map(squares,vals):
    print(x)

1
4
9
16
25
36
49
64

In [35]:
    list(map(squares,vals))

[1, 4, 9, 16, 25, 36, 49, 64]

In [14]:
price =[("car",200),("Table",500),("chair",100)]# function and tuples
for obj,value in price:
    print(obj)

car
Table
chair

In [16]:
work_hours=[("sam",80),("tony",56),("jack",72)]
def max_work(work_hours):
    max_1=0
    employee =""
    
    for x,y in work_hours:
        if y>max_1:
            max_1 =y
            employee= x
            
    return (employee,max_1)
max_work(work_hours)

('sam', 80)

Exceptions and error handling

In [43]:
def take_input():
    try:
        results = int(input('Enter a number here  '))
    except ValueError:
        print("This is a value error")
        print("please try again")
    else:
        print("Thank you")
        print("your response has been acceptes")
        print(results)
    finally:
        print("I am always executed")
        #mostly coders do no write finally part

In [44]:
take_input()

Enter a number here  24
Thank you
your response has been acceptes
24
I am always executed

break and continue

In [ ]:
def take_input():
    while True:
         try:
                results = int(input('Enter a number here  '))
        except ValueError:
            print("This is a value error")
            print("please try again")
        continue #this tells the code incase there is an error,start execution again until they enter a valid no
        
        else:
            print("Thank you")
            print("your response has been acceptes")
            print(results)
        finally:
            print("I am always executed")

In [48]:
#Assignment

''''x=5
y=0
z= x/y
zerodivisionerror'''
x=5
y=2
try:
    z= x/y
except ZeroDivisionError:
    print('cannot divide a number by zero')
else:
    print(z)

2.5

In [ ]:
#function that asks for integer and print its square

def squares():
    while True:
        try:
            a = int(input("Enter any number: "))
        except ValueError:
            print("Please enter an integer!")
            continue
        else:
            break
            return a**2
squares()

In [ ]:
#new 
def split(a):
    if len(a)%2==0:
        return "Even"
    else:
        return a[0]

In [37]:
val_1 = ["doom","Groom","Block","Same","Maloba"]
list(map(split,val_1))

['Even', 'G', 'B', 'Even', 'Even']

In [38]:
#filter function
def even(a):
    return a%2==0

In [39]:
even(2)

True

In [40]:
values = [1,2,3,4,5,6,7,8]
list(filter(even,values))

[2, 4, 6, 8]

In [41]:
list(map(even,values))

[False, True, False, True, False, True, False, True]

In [42]:
#lambda functions are used temporarily,once
""""def squares(a):
    return a**2"""
#above is the same as
nums= [1,2,3,4,5,6,7,8,9]

list(map(lambda a:a**2,nums))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [43]:
excel = lambda a:a%2==0
numbers =[1,2,3,4,5,6,7,8,9,10,12,14]
list(filter(excel,numbers))

[2, 4, 6, 8, 10, 12, 14]

In [12]:
def even_list(list_1):
    listi=[]
    for x in list_1:
        if x%2==0:
            listi.append(x)
    return listi #the return satatement is very key

In [13]:
even_list([1,2,3,4,5,6,7,8])

[2, 4, 6, 8]

# function continuation

In [3]:
def calculator(a,b):
    add = a+b
    print(add)
    return add
calculator(5,23)

28

28

In [11]:
from random import randint
print(randint(22,30))

30

In [ ]:
def factorial()

In [13]:
global_lang = 'DataScience'

def var_scope_test():
    local_lang = 'Python'
    print(local_lang)
    print(global_lang)

var_scope_test()
# Output 'Python'

# outside of function
print(global_lang)
# Output 'DataScience'

Python
DataScience
DataScience

In [25]:
def outer_func():
    
    x = 777
     

    def inner_func():
        # local variable now acts as global variable
        nonlocal x
        x = 700
        print("value of x inside inner function is :", x)

    inner_func()
    print("value of x inside outer function is :", x)

outer_func()

value of x inside inner function is : 700
value of x inside outer function is : 700

In [24]:
4*(2-1)

4

In [7]:
def sums(a,b):
    if a>b:
        if (a%2==0) and (b%2==0):
            print(b)
        else:
            print(a)
    else:
        print(b)
        
sums(6,4)

4

In [9]:
list_1=(2,2,3,4,5,5,6,7,6,3,9)
mylist =dict.fromkeys(list_1)
print(mylist)

{2: None, 3: None, 4: None, 5: None, 6: None, 7: None, 9: None}

In [10]:
list_1=(2,2,3,4,5,5,6,7,6,3,9)
mylist =sorted(set(list_1))
print(mylist)

[2, 3, 4, 5, 6, 7, 9]

In [14]:
list_1=(2,2,3,4,5,5,6,7,6,3,9)
mylist=[]
for x in list_1:
    if x not in mylist:
        mylist.append(x)#shame on me
print(mylist)

[2, 3, 4, 5, 6, 7, 9]

In [18]:
list_1=(2,2,3,4,5,5,6,7,6,3,9)
mylist1=[]
mylist = list(filter(lambda x:x in list_1 not in mylist1,list_1))
print(mylist)

[2, 2, 3, 4, 5, 5, 6, 7, 6, 3, 9]

In [3]:

def fun1(a):
    return a + 25

fun1(5)

30

In [8]:
#function that return true if both beginning letters are true
def Samelet(a,b):
    if a+b==20:
        print("true")
    elif a==20 or b ==20:
        print("true")
    else:
        print("false")
Samelet(15,8)

false

In [53]:
from random import randint
def Guessing():
    
    num = randint(0,100)
    
    while True:  
        x = int(input("Guess a magic number between 0 and 100  "))

        if x> num:
            print("too high")
            continue
        elif x<num:
            print("too low")
            continue
        else:
            print("correct")
            break
    
    
Guessing()

Guess a magic number between 0 and 100  10
too low
Guess a magic number between 0 and 100  30
too low
Guess a magic number between 0 and 100  40
too low
Guess a magic number between 0 and 100  60
too low
Guess a magic number between 0 and 100  80
too high
Guess a magic number between 0 and 100  70
too high
Guess a magic number between 0 and 100  65
too low
Guess a magic number between 0 and 100  7
too low
Guess a magic number between 0 and 100  77
too high
Guess a magic number between 0 and 100  67
too low
Guess a magic number between 0 and 100  68
too low
Guess a magic number between 0 and 100  69
correct

In [67]:
def Cap(name):
    new=list(name)
    for x in new:
        return new[3].capitalize()
Cap("molly")

'L'

In [69]:
def Cap(name):
    for x in name:
        return name[3].capitalize()
Cap("molly")

'L'

In [73]:
def cap(name):
    results=""
    for a,b in enumerate(name):
        if a==0 or a==3:
            results+=b.upper()
            
        else:
            results+=b
    return results
cap("macdonalds")

'MacDonalds'

In [92]:
def rev(name):
    write=name.split()
    return write[::-1]
rev("krishna claudia living dead")

['dead', 'living', 'claudia', 'krishna']

In [106]:
def rev(name):
    write=name.split()
    #step sizing= [::-1]
    write = write[::-1]
    return " ".join(write)
rev("On another level")

'level another On'

In [20]:
from random import randint
def Sumup():
    x= randint(1,100)
    print(f"the number being summed up is {x}")
    list1=[int(y) for y in str(x)]#we convert into strings because slicing and indexing is not possible in int and float
    summ= sum(list1)
    print(summ)
Sumup()

the number being summed up is 89
17

In [35]:
from random import randint
def Sumup():
    
    x= int(input("Type your number here "))
    if(x>1 and x<=100):
            list1=[int(y) for y in str(x)]
            summ= sum(list1)
            print(summ)
    else:
        print("you are out of range")
Sumup()

Type your number here 456
you are out of range

In [50]:
def Arr(list1):
    for len(x) in list1:
        if(x[3]==3)and ( x[4]==3):
            return True
        else:
            return False
        #cap

# PYTHON EXERCISES

In [16]:
def Displaynames(name,age):
    print( name +" "+age )
Displaynames(" josphasito "," 27")

 josphasito   27

In [3]:
def Varlength(*args):
    for x in args:
         print(x)
Varlength(20,20,40)

20
20
40

In [7]:
def calculation(a,b):
    add=a+b
    minu= a-b
    return add , minu
calculation(40,20)

(60, 20)

In [15]:
def show_employee(name,salary=9000):
    print("Name: ", name , " Salary:",salary)
show_employee("Mark",12000)
show_employee("mark")

Name:  Mark  Salary: 12000
Name:  mark  Salary: 9000

In [22]:
def outer_fun(a, b):
    

    # inner function
    def addition(a, b):
        return a + b

    # call inner function from outer function
    add = addition(a, b)
    # add 5 to the result
    return add + 5

result = outer_fun(5, 10)
print(result)

20

In [36]:
def recurse():#recursion
    add=0
    list_1= list(range(0,11))
    for i in list_1:
        
        add=add+i
    return add
recurse()

55

In [37]:
# the above code for the real answer
def addition(num):
    if num:
        # call same function by reducing number by 1
        return num + addition(num - 1)
    else:
        return 0

res = addition(10)
print(res)

55

In [3]:
def factorial(x):
    """This is a recursive function
    to find the factorial of an integer"""

    if x == 0 :
        return 1
    else:
        return (x * factorial(x-1))


num = 1
print("The factorial of", num, "is", factorial(num))

The factorial of 1 is 1

In [15]:
def Displaystud(name,age):
    print(name,age)
#Displaystud("Telvin",25)
Showstud = Displaystud
Showstud("Telvin",25)

Telvin 25

In [46]:
#Generate a python list
def Listing():
    list_1 =[]
    list_2 = list(range(4,30))
    
    for x in list_2:
        if (x%2==0):
             list_1.append(x)
    print(list_1)
Listing()

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [41]:
def list1(num):
    list2= list(range(4,num,2))
    print (list2)
list1(30)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [47]:
def largest(nums):
    max_num = max(nums)
    print(max_num)
    
#or

In [48]:
largest([4, 6, 8, 24, 12, 2])

24

In [49]:
def largest(list1):
    largestint =list1[0]
    for x in range(0,len(list1)):
        if largestint< list1[x]:
            largestint= list1[x]
    print(largestint)

In [50]:
largest([4, 6, 8, 24, 12, 2])

24

In [8]:
def characters(str1):
    list1 = list(str1)
    for x in list1:
        print(x*3,end="")

In [9]:
characters("misipi")

mmmiiisssiiipppiii

In [ ]:
def classification():
    intake = float(input("Enter an Amount in double: "))
    dollars = (1,0.25,0.10,0.05,0.01)
    list2 =(Dollars,)
    for x in dollars:
        count = intake//x
        print("the amount is :" ,x , '\tproduce : ',count)
        intake = intake%x

In [ ]:
classification()

In [5]:
def classification():
    intake = float(input("Enter an Amount in double: "))
    dollars = (1,0.25,0.10,0.05,0.01)
    for x in dollars:
        count = intake//x
        print("the amount is :" ,x, '\tproduce : ',count)
        intake = intake%x

In [6]:
classification()

Enter an Amount in double: 11.56
the amount is : 1 	produce :  11.0
the amount is : 0.25 	produce :  2.0
the amount is : 0.1 	produce :  0.0
the amount is : 0.05 	produce :  1.0
the amount is : 0.01 	produce :  1.0

In [4]:
def cards()

0.9700000000000006